:root{
  --principal: #fff;
  --secondary: #747474;
}

*{
  font-size: large;
}

.title{
  font-size: x-large;
  font-weight: bolder;
  color: var(--principal);
}

.grid{
  display: flex;
  flex-direction: column;
  justify-content:stretch;
  padding-top: 20px;
  padding-left: 20px;
}

.titulo{
  font-weight: bold;
  color: var(--principal);
}

.dato{
  font-weight: 100;
  color: var(--secondary);
}